html{
    height: 100%;
}

body{

    background: #fafafa;
    color: #222;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    height: 100%;

}

.wrap, #root{
    height: 100%;
}

.content{
    min-height: 100%;

}
.main-content{
    padding-bottom: 140px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{

    background: #ef5350;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 10px;

}

header h1{
    position: relative;
    font-size: 40px;
    color: #f8f8f8;
    font-family: 'Montserrat Alternates', sans-serif;

}

header h1 a{
    color: #f8f8f8;
}


header h1 a:hover{
    color: #eee;
}

header small {
    font-size: 15px;
    color: #55FF8C;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
}

strong{
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
    vertical-align: middle;
    display: inline;
}

h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    margin: 5px;
}

h4{
    font-size: 20px;
    margin-bottom: 5px;
}

p{
    padding: 5px;
}

a{
    /* color: #5B7E99; */
    color: #28a9e1;
    text-decoration: none;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.inline{
    display: inline;
}

a:hover{
    color: #ef5350;
}

.error{
    color: #E6405A;
}

.warning{
    color: #FFD42A;
}

.ok{
    color: #1ED760;
}

.filter label{
    margin-left: 10px;
    line-height: 40px;
    font-size: 20px;

}

.filter{
    margin-top: 10px;
}

.filter input{
    width: 99%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}

.list .item{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.list .item a{
    font-size: 25px;
    line-height: 96px;
    text-transform: capitalize;
}

.list .item img, .details img{
    height: 90px;
}

.list{
    position: relative;
    min-height: 600px;
}

.list .list-items{
    position: absolute;
    top:0;
    width: 100%;
}

.pagination{
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.pagination li{
    display: inline;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.pagination li a{
    padding: 5px 10px;
}

.pagination li.disabled a{
    color: #ccc;
    cursor: default;

}

.pagination li.disabled{
    border: 1px solid #ccc;
}

.pagination li.disabled:hover{
    border: 1px solid #ccc;
    background: inherit;
}

.pagination li.active, .pagination li:hover {
    border: 1px solid #aaa;
    background: #ccc;
}

.pagination li a {
    cursor: pointer;
}


.details{
    position: relative;
    min-height: 500px;
}

.details .box{
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.details h2{
    color: #666; /* the number of the beast \m/ https://www.youtube.com/watch?v=WxnN05vOuSM */
    text-transform: capitalize;
}



.details ul li{
    padding: 5px;
}

.details ul li:nth-child(even) {
    background: #f8f8f8;
}


.details p.types span{
    color: #fff;
    padding: 8px;
    margin-right: 5px;
    border-radius: 8px;
    text-transform: capitalize;
}


.details p{
    padding: 5px;
}

.evolutions-loading{
    display: block;
    margin-left: 20px;
}

.current{
    font-weight: bold;
}

footer{
    border-top: 1px solid #ddd;
    background: #eee;
    padding: 20px;
    height: 140px;
    margin-top: -140px;
}

footer p{
    padding: 10px;
    text-align: center;
}

.not-found{
    margin-top: 100px;
}
